body {
  background-color: #f4f1de;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
  font-family: 'Sacramento', cursive;
  font-size: 2rem;
}

.comments-title {
  color: #3cbea0;
  margin-bottom: 20px;
}

.card {
  border: 2px solid rgba(83, 78, 58, 0.4);
  border-radius: 0.5rem;
}

.card-title {
  font-weight: bold;
}