.lightbox-toggle {
    color: black;
}

/* Dark overlay */
.backdrop {
    z-index: 1;
    opacity: 0;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

/* Lightbox */
.box {
    z-index: 2;
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #444;
}

/* Close button */
.close {
    float: right;
    cursor: pointer;
    font-weight: bold;
}

/* Gallery image */
#gallery #photo img {
    width: 400px;
    cursor: pointer;
}

/* Lightbox image */
.box img {
    width: 100%;
}
